@import './normalize.css'
@require './font'
@import './variables'

body
  background: $screenBg
  color: $screenText
  font: 12px/1.3 Arial
  font-size: 12px
  line-height: 1.3
  width: 683px
  word-break: break-word
p
  margin: 0
  padding: 0

table, td
  border: 1px solid $borderColor
table
  width: 100%
  table-layout: fixed
tr
  width: 683px
td
  padding: 0
  position: relative

label
  position: absolute
  top: 4px
  left: 4px
  font: 12px 'Segoe Script', 'Segoe Print', script
  transform: scale(0.85)
  transform-origin: top left
  color: #929292
  line-height: 1

button
  display: inline-block
  color: black
  border: 1px solid black
  border-radius: 2px
  height: 21px
  line-height: 17px
  background: linear-gradient(0deg, rgb(222,222,222) 0%, rgb(246,246,246) 100%)
  cursor: pointer
  outline: none
  padding: 0 20px
  &:active
    background: linear-gradient(0deg, rgb(246,246,246) 0%, rgb(222,222,222) 100%)

  &[disabled]
    color: #999
    border-color: #999
    cursor: not-allowed
.actions
  text-align: center
  padding: 8px 0

.intro
  margin: 6px 16px

.textarea
  font-family: monospace
  white-space: pre-wrap
  word-break: break-word
  font-size: 12px
  min-height: 12px*4
  position: relative
  b
    font-weight: normal
    color: $wrongText
  b.space
    background: $wrongText
  i
    font-style: normal
    color: $hintText
  .count-hint
    display: none
  &.focused
    .cursor
      background: $screenBg
      color: $screenText
      animation: 1s blink step-end infinite
  &.focused
  &.non-empty
    .count-hint
      display: block
      position: absolute
      bottom: 3px
      right: 3px
      color: $wrongText

.banner
  position: relative
  width: 683px
  .close
    display: block
    width: 20px
    height: 20px
    position: absolute
    right: 0
    top: 0
    cursor: not-allowed
  &.truly-closed
    position: absolute
    left: 0
    bottom: 0

// section win
.section-win
  text-align: center
  td
    padding: 16px 16px 0
  h1
    font-size: 36px
    line-height: 1
    padding: 0
    margin: 0
#textarea-win
  font-size: 24px
  &.is-expanded
    text-align: left

// section billboard
#section-billboard
  background: #d1d1d1
  border-bottom: 1px solid $borderColor
  height: 21px
  line-height: @height
  overflow: hidden
  white-space: nowrap
  padding: 0 4px
  p
    margin-left: 40px
    display: inline

// section lose
.section-lose-inner
  padding-top: 14px
  position: relative
#textarea-lose
  padding: 6px 8px
  border: 1px solid $borderColor
  margin: 0 16px
  font-size: 13px

.section-lose-comment
  .comment
    padding: 20px 10px 4px
    position: relative
    & + .comment
      border-top: 1px solid $borderColor

footer
  margin: 4px 3px 0
  color: #929292
  .left
    float: left
  .right
    float: right
    text-align: right

.end-overlay
.win-overlay
  display: none
[data-state='inactive']
  .end-overlay
    display: block
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    background: rgba(#bbb, 0.9)
    .message
      font-size: 22px
      line-height: 40px
      border: 1px solid black
      background: white
      width: 342px
      text-align: center
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
[data-state='win']
  .win-overlay
    display: block
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    background: rgba(#bbb, 0.9)
    &.cong
      background: rgba(#fff53d, 0.9)
      animation: 0.2s blink-cong step-end infinite
      .cong-message
        font-size: 60px
        font-size: bold
        position: absolute
        text-align: center
        left: 0
        right: 0
        top: 50%
        transform: translateY(-50%)
    .message
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      font-size: 15px
      font-size: bold
      text-align: center

@keyframes blink
  from, to
    background: $screenText
    color: $screenBg
  50%
    background: $screenBg
    color: $hintText

@keyframes blink-cong
  from, to
    background: rgba(#fff53d, 0.9)
    color: black
  50%
    background: black
    color: rgba(#fff53d, 0.9)