@require './variables'

body
  background: $screenBg
  color: $screenText

.textarea
  font-family: monospace
  border: 1px solid
  padding: 6px 8px
  white-space: pre-wrap
  word-break: break-all
  font-size: 12px
  min-height: 12px*4
  b
    font-weight: normal
    color: $wrongText
  i
    font-style: normal
    color: $hintText
  &.focused
    .cursor
      background: $screenBg
      color: $screenText
      animation: 1s blink step-end infinite

@keyframes "blink"
  from, to
    background: $screenText
    color: $screenBg
  50%
    background: $screenBg
    color: $hintText