@require './variables'

body
  background: $screenBg
  color: $screenText

#textarea
  font-family: monospace
  b
    font-weight: normal
    color: $wrongText
  i
    font-style: normal
    color: $hintText
  .cursor
    background: $screenBg
    color: $screenText
    animation: 1s blink step-end infinite

@keyframes "blink"
  from, to
    background: $screenText
    color: $screenBg
  50%
    background: $screenBg
    color: $hintText